{% extends 'website/base.html' %}

{% block head %}

{% endblock head %}
{% block content %}
  <div class="container px-3 px-lg-0">
    <div class="row mb-5 mt-4">
      <div class="col-lg-9">
        <h2 class="mb-3 text-primary text-center">New Arrivals</h2>
        <div class="book-scroll">
          
        {% for book in new_arr %}
        <div class="col-6 col-md-4 col-lg-2">
          <div class="card h-100 shadow-sm">
            <img src="{{ book.cover }}" class="card-img-top" alt="{{ book.title }}" style="height: 220px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text text-muted mb-1">{{ book.author }}</p>
              <p class="card-text text-primary fw-bold align-text-bottom">Php {{ book.price }}</p>
              <a class="btn btn-sm btn-outline-primary mt-auto" href=" {% url 'add_to_cart' book.id %}">Add to cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
          
        </div>
      </div>


      <div class="col-lg-3 mt-4 mt-lg-0 px-3 px-lg-0">
        <div class="card featured shadow-sm border-0">
          <div class="card-body text-center">
            <h5 class="card-title">Featured Books</h5>
          <div class="row g-4 d-flex">  
            {% for book in featured %}
              <div class="col-6 col-md-6 col-lg-6">
                <div class="card h-100 shadow-sm">
                  <img src="{{ book.cover }}" class="card-img-top" alt="{{ book.title }}" style="height: 220px; object-fit: cover;">
                  <div class="card-body d-flex flex-column">
                    <h6 class="card-title">{{ book.title }}</h6>
                    <p class="card-text text-muted mb-1">{{ book.author }}</p>
                  </div>
                </div>
              </div>
            
            
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="row mb-3">
        <div class="col">
          <h3 class="text-primary">Explore</h3>
        </div>
      </div>
      <div class="col">
        <div class="category-section d-flex flex-wrap gap-2 justify-content-center justify-content-md-start">
          <button class="btn btn-gradient rounded-4 ">All</button>
          <button class="btn btn-gradient rounded-4">Fiction</button>
          <button class="btn btn-gradient rounded-4">Fantasy</button>
          <button class="btn btn-gradient rounded-4">Science</button>
          <button class="btn btn-gradient rounded-4">Manga</button>
          <button class="btn btn-gradient rounded-4">Manhua</button>
          <button class="btn btn-gradient rounded-4">Novel</button>
          <button class="btn btn-gradient rounded-4">Light Novel</button>
        </div>
      </div>
    </div>


    <div class="book-list row g-4">
      
      <div class="row g-4">
        {% for book in books %}
        <div class="col-6 col-md-4 col-lg-2">
          <div class="card h-100 shadow-sm">
            <img src="{{ book.cover }}" class="card-img-top" alt="{{ book.title }}" style="height: 220px; object-fit: cover;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ book.title }}</h5>
              <p class="card-text text-muted mb-1">{{ book.author }}</p>
              <p class="card-text text-primary fw-bold align-bottom">Php {{ book.price }}</p>
              <a class="btn btn-sm btn-outline-primary mt-auto" href=" {% url 'add_to_cart' book.id %}">Add to cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}